* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Overpass;
}

.main {
  width: 100%;
  text-align: center;
}

.main .navbar-flex {
  text-align: left;
}

.header {
  padding: 20px;
  width: 100%;
  color: white;
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(#ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 7rem;
}

h1 {
  margin-bottom: 1rem;
}

.title {
  display: inline-block;
}

.dropdown {
  float: right;
}

.dropdown img {
  display: inline-block;
  padding-top: 10px;
}

.top-content {
  margin: 6rem 0 8rem;
}

.heading {
  padding-bottom: 2rem;
}

.heading h1 {
  font-size: 1.8rem;
}

.buttons {
  width: 334px;
  margin: 0 auto;
}

.start-button {
  background-color: white;
  color: #ff3d54;
  font-weight: 600;
}

.start-button:hover {
  color: white;
  background-color: #ff8f70;
}

.learn-button {
  background: #ff3d54;
  border: 1px solid white;
  font-weight: 500;
}

.learn-button:hover {
  color: #ff8f70;
  background-color: white;
}

.button {
  font-family: Ubuntu;
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  width: 145px;
  border-radius: 2rem;
  margin: 0 10px;
  cursor: pointer;
}

.middle-content {
  margin: 6rem 0 16rem;
}

.middle-content p {
  color: #4b5862;
  font-weight: 500;
}

.article-header h1 {
  font-size: 2rem;
  color: #1f3f5b;
}

.editor-mobile {
  background: url("../images/illustration-editor-mobile.svg");
}

.mobile-image {
  width: 100%;
  background-size: 100% 100%;
}

.mobile-image img {
  visibility: hidden;
  width: 100%;
}

.article {
  padding: 20px;
}

.article p {
  line-height: 1.8rem;
}

.infrastructure-container {
  position: relative;
  width: 100%;
  border-radius: 0 7rem 0 0;
  background: url(../images/bg-pattern-circles.svg) #2c2d3f no-repeat;
  background-size: cover;
  background-position: center -300px;
}

.infrastructure-container .article h1 {
  font-size: 2rem;
  color: white;
}

.infrastructure-container .article p {
  color: white;
}

.phone-image-container {
  position: relative;
  bottom: 200px;
}

.phone-image-container img {
  width: 100%;
}

.laptop-mobile {
  background: url(../images/illustration-laptop-mobile.svg);
}

footer {
  background-color: #25252d;
  color: white;
  border-radius: 0 7rem 0 0;
  padding: 10% 20%;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  color: #c8c8cb;
  padding-bottom: 0.5rem;
}

footer ul li:nth-of-type(1) {
  color: white;
  padding-bottom: 2rem;
}
