* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Overpass;
}

.main {
  width: 100%;
  text-align: center;
}

.main .title {
  text-align: left;
}

.header {
  padding: 20px 5%;
  width: 100%;
  color: white;
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(#ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 7rem;
  position: relative;
}

h1 {
  margin-bottom: 1rem;
}

.navbar-flex::after {
  content: "";
  display: table;
  clear: both;
}

.title {
  float: left;
}

.dropdown {
  float: right;
  cursor: pointer;
}

.dropdown img {
  display: inline-block;
  padding-top: 10px;
}

.navbar-popup {
  position: absolute;
  width: 90%;
  font-size: 18px;
  background-color: white;
  color: #1f3f5b;
  font-weight: 600;
  border-radius: 0.25em;
  padding: 30px;
}

.navbar-popup .hidden-ul {
  margin-top: 1rem;
  color: #6f8190;
  background-color: #f0eeee;
  border-radius: 0.25rem;
}

.navbar-popup ul {
  list-style-type: none;
}

.navbar-popup ul .li-button:nth-of-type(3) {
  border-bottom: 2px solid #e6e4e4;
}

.navbar-popup ul li {
  padding: 15px;
  cursor: pointer;
}

.navbar-popup ul li:hover {
  color: #25252d;
}

.navbar-popup ul li img {
  margin-left: 7px;
}

.login {
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.login:hover {
  color: black;
}

.sign-up {
  display: inline-block;
  color: white;
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  padding: 10px 35px;
  border-radius: 2rem;
  cursor: pointer;
  height: 45px;
}

.sign-up:hover {
  color: #ff3d54;
  background: white;
  border: 1px solid #ff3d54;
}

.top-content {
  margin: 6rem 0 8rem;
}

.heading {
  padding-bottom: 2rem;
}

.heading h1 {
  font-size: 1.8rem;
}

.buttons {
  width: 334px;
  margin: 0 auto;
}

.start-button {
  background-color: white;
  color: #ff3d54;
  font-weight: 600;
}

.start-button:hover {
  color: white;
  background-color: #ff7a85;
}

.learn-button {
  background: #ff3d54;
  border: 1px solid white;
  font-weight: 500;
}

.learn-button:hover {
  color: #ff8f70;
  background-color: white;
}

.button {
  font-family: Ubuntu;
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  width: 145px;
  border-radius: 2rem;
  margin: 0 10px;
  cursor: pointer;
}

.middle-content {
  margin: 6rem 0 16rem;
}

.middle-content p {
  color: #4b5862;
  font-weight: 500;
}

.article-header h1 {
  font-size: 2rem;
  color: #1f3f5b;
}

.editor-mobile {
  background: url("../images/illustration-editor-mobile.svg");
}

.mobile-image {
  width: 100%;
  background-size: 100% 100%;
}

.mobile-image img {
  visibility: hidden;
  width: 100%;
}

.article {
  padding: 20px;
}

.article p {
  line-height: 1.8rem;
}

.infrastructure-container {
  position: relative;
  width: 100%;
  border-radius: 0 7rem 0 7rem;
  background: url(../images/bg-pattern-circles.svg) #2c2d3f no-repeat;
  background-size: cover;
  background-position: center -300px;
  margin-bottom: 6rem;
}

.infrastructure-container .article h1 {
  font-size: 2rem;
  color: white;
}

.infrastructure-container .article p {
  color: white;
  margin-bottom: 8rem;
}

.phone-image-container {
  position: relative;
  bottom: 200px;
}

.phone-image-container img {
  width: 100%;
}

.laptop-mobile {
  background: url(../images/illustration-laptop-mobile.svg) no-repeat;
  background-size: 100% 100%;
}

footer {
  background-color: #25252d;
  color: white;
  border-radius: 0 7rem 0 0;
  padding: 10% 20%;
  margin-top: 8rem;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  color: #c8c8cb;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

footer ul li:nth-of-type(1) {
  color: white;
  margin-bottom: 1.5rem;
}

footer ul li:hover {
  color: white;
}

.flex-item {
  margin-bottom: 2.5rem;
}

.flex-item:nth-of-type(1) {
  margin-bottom: 4rem;
}

.desktop-image {
  display: none;
}

.desktop-navbar {
  display: none;
  line-height: 41px;
  justify-content: center;
  font-weight: 600;
}

.desktop-navbar ul {
  list-style-type: none;
}

.desktop-navbar ul li {
  margin: 0 30px;
  cursor: pointer;
}

.desktop-navbar ul li img {
  margin-left: 5px;
}

.float-left {
  float: left;
  margin-left: 5%;
}

.float-left p {
  display: inline-block;
}

.float-left p:hover {
  text-decoration: underline;
}

.desktop-nav-hidden {
  position: absolute;
  padding: 1.2rem 0;
  text-align: left;
  background-color: white;
  border-radius: 0.25rem;
  color: #4b5862;
}

.desktop-nav-hidden li:hover {
  color: black;
}

.desktop-nav-item {
  display: inline-block;
  position: relative;
}

.float-right {
  float: right;
}

.float-right li {
  display: inline-block;
}

.float-right li:nth-of-type(2) {
  margin-right: 0;
  padding: 0 30px;
  border-radius: 4rem;
  background-color: white;
  color: #ff525d;
}

.float-right li:nth-of-type(2):hover {
  background-color: #ff7a85;
  color: white;
}

.desktop-bg-image {
  display: none;
}

@media screen and (min-width: 1052px) {
  .dropdown {
    display: none;
  }
  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: block;
    position: relative;
    left: 50px;
    top: -70px;
  }
  .desktop-image img {
    width: 100%;
  }
  .desktop-bg-image {
    width: 100%;
    display: block;
    background-size: 100% 100%;
  }
  .desktop-bg-image img {
    visibility: hidden;
    width: 100%;
  }
  .desktop-navbar {
    display: block;
  }
  .header {
    padding: 5% 10%;
  }
  .header h1 {
    font-size: 2.6rem;
  }
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  .base-flex-container {
    display: flex;
  }
  .vertical-flex-container {
    display: flex;
    flex-direction: column;
  }
  .flex-one {
    display: flex;
    width: 50%;
  }
  .base-flex {
    display: flex;
  }
  .middle-content {
    margin: 8rem;
  }
  .article {
    text-align: left;
  }
  .middle-main-header {
    margin-bottom: 4rem;
  }
  .phone-image-container {
    top: -17.5%;
    position: absolute;
    right: 50%;
  }
  .phone-image-container img {
    width: 500px;
  }
  .width-50 {
    width: 50%;
    float: left;
  }
  .infrastructure-container {
    padding: 55px;
  }
  .infrastructure-container:after {
    content: "";
    clear: both;
    display: table;
  }
  .infrastructure-container .article {
    position: relative;
    left: 50%;
    height: 250px;
  }
  .infrastructure-container .article p {
    margin: 0;
  }
  .laptop-desktop {
    position: relative;
    background: url("../images/illustration-laptop-desktop.svg") no-repeat;
    background-size: 100% 100%;
    left: -14%;
  }
  .bottom-content {
    padding: 5rem 0;
    content: "";
    display: table;
    clear: both;
    position: relative;
  }
  .top-margin {
    margin-top: 20%;
  }
}
