* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Overpass;
}

.main {
  width: 100%;
  text-align: center;
  .title {
    text-align: left;
  }
}
.header {
  padding: 20px 5%;
  width: 100%;
  color: white;
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 7rem;
  position: relative;
}
h1 {
  margin-bottom: 1rem;
}

.navbar-flex {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.title {
  float: left;
}

.dropdown {
  float: right;
  cursor: pointer;
  img {
    display: inline-block;
    padding-top: 10px;
  }
}

.navbar-popup {
  position: absolute;
  width: 90%;
  font-size: 18px;
  background-color: white;
  color: hsl(208, 49%, 24%);
  font-weight: 600;
  border-radius: 0.25em;
  padding: 30px;

  .hidden-ul {
    margin-top: 1rem;
    color: hsl(207, 13%, 50%);
    background-color: #f0eeee;
    border-radius: 0.25rem;
  }

  ul {
    list-style-type: none;
    .li-button:nth-of-type(3) {
      border-bottom: 2px solid #e6e4e4;
    }

    li {
      padding: 15px;
      cursor: pointer;
      &:hover {
        color: hsl(240, 10%, 16%);
      }
      img {
        margin-left: 7px;
      }
    }
  }
}

.login {
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.sign-up {
  display: inline-block;
  color: white;
  background: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  padding: 10px 35px;
  border-radius: 2rem;
  cursor: pointer;
  height: 45px;
  &:hover {
    color: hsl(353, 100%, 62%);
    background: white;
    border: 1px solid hsl(353, 100%, 62%);
  }
}

.top-content {
  margin: 6rem 0 8rem;
}
.heading {
  padding-bottom: 2rem;

  h1 {
    font-size: 1.8rem;
  }
}

.buttons {
  width: 334px;
  margin: 0 auto;
}
.start-button {
  background-color: white;
  color: hsl(353, 100%, 62%);
  font-weight: 600;

  &:hover {
    color: white;
    background-color: hsl(355, 100%, 74%);
  }
}

.learn-button {
  background: hsl(353, 100%, 62%);
  border: 1px solid white;
  font-weight: 500;

  &:hover {
    color: hsl(13, 100%, 72%);
    background-color: white;
  }
}
.button {
  font-family: Ubuntu;
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  width: 145px;
  border-radius: 2rem;
  margin: 0 10px;
  cursor: pointer;
}

.middle-content {
  margin: 6rem 0 16rem;

  p {
    color: hsl(207, 13%, 34%);
    font-weight: 500;
  }
}
.article-header {
  h1 {
    font-size: 2rem;
    color: hsl(208, 49%, 24%);
  }
}
.editor-mobile {
  background: url("../images/illustration-editor-mobile.svg");
}

.mobile-image {
  width: 100%;

  background-size: 100% 100%;
  img {
    visibility: hidden;
    width: 100%;
  }
}
.article {
  padding: 20px;
  p {
    line-height: 1.8rem;
  }
}

.infrastructure-container {
  position: relative;
  width: 100%;
  border-radius: 0 7rem 0 7rem;
  background: url(../images/bg-pattern-circles.svg) hsl(237, 17%, 21%) no-repeat;
  background-size: cover;
  background-position: center -300px;
  margin-bottom: 6rem;
  .article {
    h1 {
      font-size: 2rem;
      color: white;
    }
    p {
      color: white;
      margin-bottom: 8rem;
    }
  }
}

.phone-image-container {
  position: relative;
  bottom: 200px;
  img {
    width: 100%;
  }
}
.laptop-mobile {
  background: url(../images/illustration-laptop-mobile.svg) no-repeat;
  background-size: 100% 100%;
}

footer {
  background-color: hsl(240, 10%, 16%);
  color: white;
  border-radius: 0 7rem 0 0;
  padding: 10% 20%;
  margin-top: 8rem;

  ul {
    list-style-type: none;
    li {
      color: hsl(240, 2%, 79%);
      margin-bottom: 0.5rem;
      cursor: pointer;
      &:nth-of-type(1) {
        color: white;
        margin-bottom: 1.5rem;
      }
      &:hover {
        color: white;
      }
    }
  }
}

.flex-item {
  margin-bottom: 2.5rem;
  &:nth-of-type(1) {
    margin-bottom: 4rem;
  }
}

// Desktop

.desktop-image {
  display: none;
}

.desktop-navbar {
  display: none;
  line-height: 41px;
  justify-content: center;
  font-weight: 600;
  ul {
    list-style-type: none;
    li {
      margin: 0 30px;
      cursor: pointer;
      img {
        margin-left: 5px;
      }
    }
  }
}
.float-left {
  float: left;
  margin-left: 5%;
  p {
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.desktop-nav-hidden {
  position: absolute;
  padding: 1.2rem 0;
  text-align: left;
  background-color: white;
  border-radius: 0.25rem;
  color: hsl(207, 13%, 34%);
  li:hover {
    color: black;
  }
}
.desktop-nav-item {
  display: inline-block;
  position: relative;
}

.float-right {
  float: right;
  li {
    display: inline-block;

    &:nth-of-type(2) {
      margin-right: 0;
      padding: 0 30px;
      border-radius: 4rem;
      background-color: white;
      color: hsl(356, 100%, 66%);
      &:hover {
        background-color: hsl(355, 100%, 74%);
        color: white;
      }
    }
  }
}

@media screen and (min-width: 1052px) {
  // Hide mobile elements
  .dropdown {
    display: none;
  }

  .mobile-image {
    display: none;
  }

  // Show desktop elements

  .desktop-image {
    display: block;
    position: relative;
    left: 50px;
    top: -70px;
    img {
      width: 100%;
    }
  }

  .desktop-navbar {
    display: block;
  }

  .header {
    padding: 5% 10%;
    h1 {
      font-size: 2.6rem;
    }
  }

  .flex-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  .flex-one {
    display: flex;
    width: 50%;
  }
  .flex-two {
    display: flex;
    width: 50%;
  }

  .middle-content {
    margin: 8rem;
  }
  .article {
    text-align: left;
  }
  .middle-main-header {
    margin-bottom: 4rem;
  }
}
